<div class="container text-center">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1>Reviews#index</h1>
        <% @restaurant.reviews.each do |review| %>
          <div class="review">
            <h3>
              <%= @restaurant.name %>
            </h3>
            <p>
              <%= review.rating %>
              <%= review.content %>
            </p>
        <% end %>
          </div>
    </div>
  </div>
</div>

